.DesignArea{
    display: flex;
}

.ComponentLayout{
    padding: 1rem;
    width: 100%;}
.component{
    resize: both;
    overflow: auto;
    padding: 5rem;
}
pre {
    background: #eee;
    padding: 1rem;
    overflow: auto;
    border-radius: 3px;
    width:100%
  }
  
  pre code {
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
  }