.FormLayout{
    display: flex;
    transition: 2s ease-in-out;
    border:0;
    height: 100%;
    width: 100%;
    overflow: auto;
}


.formContent{
    display: block;
    margin:auto;
    border:0;
    width: 50%;
    background-color: #f0f2f5;
    padding: 1rem;
    border-radius: 5px;
    font-size: 0.9rem !important;
}
.css-1hbvpl3-MuiSvgIcon-root{
    width: 0.6em !important;
    height: 0.6em !important; 
}
.css-11zohuh-MuiSvgIcon-root {
    width: 0.6em !important;
    height: 0.6em !important;
}
.css-qfz70r-MuiFormGroup-root {
    padding: 0 7px;
}